
<form action="/amendDatabase" method="POST">
    <div class="row">
        <div class="six columns">
            <input class="u-full-width" type="text" placeholder="First Name" id="firstNameInput">
        </div>
        <div class="six columns">
            <input class="u-full-width" type="text" placeholder="Second Name" id="secondNameInput">
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <input class="u-full-width" type="email" placeholder="email@email.co.uk" id="emailInput">
        </div>
    </div>
    

<input class="formButton" type="submit">

</form>

<div class="bottom">

</div>
