<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- frameworks -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous" />
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
     

    <!-- Style sheet -->
    <title>TheWirelessWaiter</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    
</head>
<body class="bodyNav">
    {{!-- This acts as our main layout. Essentially this is the global 
    container for our web pages, and we can set things, such as style sheets, 
    here that will be the same for every page. Huge benefit of this is to have 
    one place to make edits the body placeholder below is the default place for hbs 
    to display our views/templates --}}
    {{{body}}}

    <div class="footer"></div>
    {{!-- linking to js files --}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script> --}}
    <script src="/js/script.js"></script>
</body>
</html>