

{{!-- Page setup --}}

<img class="logoPic" src="images/butlerLogo.svg" alt="logo">


<div class="row">
    <div class="titleContainer">
        <div class="six columns"> 
            <h1 class="title" > Welcome to the </h1>
            <img class="logoText" src="images/logo.png" alt="logo">
            <h2 class="slogan"> Safer Service </h2>
    
            <div class="textContainer">
            <div class="info"><p> Give your customers great service at a safe distance. 
                Wireless Waiter enables your audience to order their drinks, food and 
                merchandise without even having to visit a counter. Safe service with 
                more efficient staff. Start using Wireless waiting for free and open 
                your doors to the public with a COVID secure environment. </p></div>
            </div>

            {{!-- <button>Get In Contact</button> --}}

        </div>
    </div>
    <div class="six columns">
        <img class="customerAppHeader fade-in"  src="images/menuCropped.png" alt="CustomerApp">
    </div>
</div>



<div class="backgroundPurple">

<br>

    <div class="row">
        <div class=" six columns">
                        <!-- Slideshow container -->
            <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlidesCustomer">
                <img class="customerApp centerCustomer" id="selectVenue"  src="images/SelectVenue.png" alt="CustomerApp">
            </div>

            <div class="mySlidesCustomer">
                <img class="customerApp centerCustomer" id="selectVenue"  src="images/menu.png" alt="CustomerApp">
            </div>

            <div class="mySlidesCustomer">
                <img class="customerApp centerCustomer" id="selectVenue"  src="images/orderSummary.png" alt="CustomerApp">
            </div>

            <!-- Next and previous buttons -->
            <a class="prevCustomer" onclick="plusSlidesCustomer(-1)">&#10094;</a>
            <a class="nextCustomer" onclick="plusSlidesCustomer(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
            <span class="dotCustomer" onclick="currentSlideCustomer(1)"></span>
            <span class="dotCustomer" onclick="currentSlideCustomer(2)"></span>
            <span class="dotCustomer" onclick="currentSlideCustomer(3)"></span>
            </div>



        </div>
        <div class=" six columns">
            <br>
            <br>
            <h3 class="heading">Customer App</h3>
            <br>
            <div class="contentContainer">
            <div class="customerText"><p> Our customer app incorporates sophisticated design 
                and seamless functionality for the ease and satisfaction of the customer. 
                We aim to keep the customer involved with every step of the process so they 
                can have total transparency on the whereabouts of their order, while feeling 
                safe in their seat.</p></div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<div class="backgroundGrey">
    <br>
    <br>
    <div class="row">
        <div class=" six columns">
            <br>
            <br>
            <h3 class="headingBar">Bar App</h3>
            <br>
            <div class="contentContainer">
            <div class="barText"><p> The bar app is created with efficiency and practicality at the 
                forefront. With an easy to use interface that is perfectly in sync with the 
                customer application. The app makes use of easy to follow ‘statuses’ for each 
                order and overviews of all previous orders to keep organised during peak times. </p></div>
            </div>
        </div>


        <div class=" six columns">
                        <!-- Slideshow container -->
            <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlidesBar">
                <img class="barApp centerBar" id="selectVenue"  src="images/DashboardAll.png" alt="barApp">
            </div>

            <div class="mySlidesBar">
                <img class="barApp centerBar" id="menu" src="images/DashboardInFocus.png" alt="barApp">
            </div>

            <div class="mySlidesBar">
                <img class="barApp centerBar" id="orderSummary"  src="images/HistoricOrders.png" alt="barApp">
            </div>

            <!-- Next and previous buttons -->
            <a class="prevBar" onclick="plusSlidesBar(-1)">&#10094;</a>
            <a class="nextBar" onclick="plusSlidesBar(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
            <span class="dotBar" onclick="currentSlideBar(1)"></span>
            <span class="dotBar" onclick="currentSlideBar(2)"></span>
            <span class="dotBar" onclick="currentSlideBar(3)"></span>
            </div>


        </div>
    </div>
    <br>
</div>

<div class="backgroundPurple">
    <div class="row">
        <div class=" six columns">
                        <!-- Slideshow container -->
            <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlidesManager">
                <img class="managerApp centerManager" id="selectVenue"  src="images/managerDashboard.png" alt="managerApp">
            </div>

            <div class="mySlidesManager">
                <img class="managerApp centerManager" id="menu" src="images/managerMenu.png" alt="managerApp">
            </div>

            <div class="mySlidesManager">
                <img class="managerApp centerManager" id="orderSummary"  src="images/orders.png" alt="managerApp">
            </div>

            <!-- Next and previous buttons -->
            <a class="prevManager" onclick="plusSlidesManager(-1)">&#10094;</a>
            <a class="nextManager" onclick="plusSlidesManager(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
            <span class="dotManager" onclick="currentSlideManager(1)"></span>
            <span class="dotManager" onclick="currentSlideManager(2)"></span>
            <span class="dotManager" onclick="currentSlideManager(3)"></span>
            </div>



        </div>
        <div class=" six columns">
            <br>
            <br>
            <h3 class="heading">Manager App</h3>
            <br>
            <div class="contentContainer">
            <div class="customerText"><p> The manager app is a critical part of the 
                wireless waiter system, it provides a detailed overview of 
                all the customer interactions in one place for your establishment. 
                This provides an innovative way to see for yourself the benefits 
                of the Wireless Waiter in action. </p></div>
            </div>
        </div>
    </div>
    <br>
</div>




<div class="container">
    <h1 class="header"> Who are we? </h1>
    <div class="info"><p> Hi, together we set up The Wireless Waiter, get to know us</p></div>

    <div class="row">
        <div class="four columns">
            <img class="jenny" src="images/Jenny.JPG" alt="Jenny">
        </div>
        <div class="eight columns">
            <p class="bioText">Jenny is one of the UK's leading Enterprise Architects having worked for both
                blue chip private sector organisations as well as consulting on a number of key national
                programmes for the UK Government. Jenny has a degree in Engineering from the University of
                Cambridge.  
            </p>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <img class="claire" src="images/ClaireProfile.jpg" alt="Claire">
        </div>
        <div class="eight columns">
            <p class="bioText">Claire is a young woman, determined to make an impact on the world of technology she is 
                currently an undergraduate of Plymouth University’s innovative Internet Design course. However, this year 
                is taking on a work placement to get a taste of the real-world. She has a good knowledge of web development 
                and design and is keen to use these skills to drive the success of wireless waiter.</p>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <img class="tim" src="images/TimImg.jpg" alt="Tim">
        </div>
        <div class="eight columns">
            <p class="bioText">Wireless Waiter is the fifth successful start-up that Tim has founded. Previous 
                successes have included Direct Line Group's telephone company and Community Fibre Limited. Tim
                was awarded distinction for his Masters in Business Administration by the Open University in 2010. 
            </p>
        </div>
    </div>
        

    <br> 
    <br>
    <br>

    <hr>

    <br>
    <br>

    {{!-- <h3 class="formTitle">Register your interest here</h3> --}}
    <h3 class="formTitle">Get in contact at hello@thewirelesswaiter.com</h3>

    {{!-- <h2 class="text"> Register your interest here </h2> --}}

    <br> 
    <br>

    {{> form}}


</div>





