

{{!-- Page setup --}}

<img class="logoPic" src="images/butlerLogo.svg" alt="logo">


<div class="row">
    <div class="titleContainer">
        <div class="six columns"> 
            <h1 class="title" > Welcome to the </h1>
            <img class="logoText" src="images/logo.png" alt="logo">
            <h2 class="slogan"> Safer Service </h2>
    
            <div class="textContainer">
            <div class="info"><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. 
            Consectetur adipiscing elit duis tristique sollicitudin nibh sit. Sit amet nisl purus in mollis nunc 
            sed id.</p></div>
            </div>

            {{!-- <button>Get In Contact</button> --}}

        </div>
    </div>
    <div class="six columns">
        <img class="customerAppHeader fade-in"  src="images/menuCropped.png" alt="CustomerApp">
    </div>
</div>



<div class="backgroundPurple">

<br>

    <div class="row">
        <div class=" six columns">
                        <!-- Slideshow container -->
            <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlidesCustomer">
                <img class="customerApp centerCustomer" id="selectVenue"  src="images/SelectVenue.png" alt="CustomerApp">
            </div>

            <div class="mySlidesCustomer">
                <img class="customerApp centerCustomer" id="selectVenue"  src="images/menu.png" alt="CustomerApp">
            </div>

            <div class="mySlidesCustomer">
                <img class="customerApp centerCustomer" id="selectVenue"  src="images/orderSummary.png" alt="CustomerApp">
            </div>

            <!-- Next and previous buttons -->
            <a class="prevCustomer" onclick="plusSlidesCustomer(-1)">&#10094;</a>
            <a class="nextCustomer" onclick="plusSlidesCustomer(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
            <span class="dotCustomer" onclick="currentSlideCustomer(1)"></span>
            <span class="dotCustomer" onclick="currentSlideCustomer(2)"></span>
            <span class="dotCustomer" onclick="currentSlideCustomer(3)"></span>
            </div>



        </div>
        <div class=" six columns">
            <br>
            <br>
            <h3 class="heading">Customer App</h3>
            <br>
            <div class="contentContainer">
            <div class="customerText"><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. 
            Consectetur adipiscing elit duis tristique sollicitudin nibh sit. Sit amet nisl purus in mollis nunc 
            sed id.</p></div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<div class="backgroundGrey">
    <br>
    <br>
    <div class="row">
        <div class=" six columns">
            <br>
            <br>
            <h3 class="headingBar">Bar App</h3>
            <br>
            <div class="contentContainer">
            <div class="barText"><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. 
            Consectetur adipiscing elit duis tristique sollicitudin nibh sit. Sit amet nisl purus in mollis nunc 
            sed id.</p></div>
            </div>
        </div>


        <div class=" six columns">
                        <!-- Slideshow container -->
            <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlidesBar">
                <img class="barApp centerBar" id="selectVenue"  src="images/DashboardAll.png" alt="barApp">
            </div>

            <div class="mySlidesBar">
                <img class="barApp centerBar" id="menu" src="images/DashboardInFocus.png" alt="barApp">
            </div>

            <div class="mySlidesBar">
                <img class="barApp centerBar" id="orderSummary"  src="images/HistoricOrders.png" alt="barApp">
            </div>

            <!-- Next and previous buttons -->
            <a class="prevBar" onclick="plusSlidesBar(-1)">&#10094;</a>
            <a class="nextBar" onclick="plusSlidesBar(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
            <span class="dotBar" onclick="currentSlideBar(1)"></span>
            <span class="dotBar" onclick="currentSlideBar(2)"></span>
            <span class="dotBar" onclick="currentSlideBar(3)"></span>
            </div>


        </div>
    </div>
    <br>
</div>

<div class="backgroundPurple">
    <div class="row">
        <div class=" six columns">
                        <!-- Slideshow container -->
            <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlidesManager">
                <img class="managerApp centerManager" id="selectVenue"  src="images/managerDashboard.png" alt="managerApp">
            </div>

            <div class="mySlidesManager">
                <img class="managerApp centerManager" id="menu" src="images/managermenu.png" alt="managerApp">
            </div>

            <div class="mySlidesManager">
                <img class="managerApp centerManager" id="orderSummary"  src="images/orders.png" alt="managerApp">
            </div>

            <!-- Next and previous buttons -->
            <a class="prevManager" onclick="plusSlidesManager(-1)">&#10094;</a>
            <a class="nextManager" onclick="plusSlidesManager(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
            <span class="dotManager" onclick="currentSlideManager(1)"></span>
            <span class="dotManager" onclick="currentSlideManager(2)"></span>
            <span class="dotManager" onclick="currentSlideManager(3)"></span>
            </div>



        </div>
        <div class=" six columns">
            <br>
            <br>
            <h3 class="heading">Manager App</h3>
            <br>
            <div class="contentContainer">
            <div class="customerText"><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. 
            Consectetur adipiscing elit duis tristique sollicitudin nibh sit. Sit amet nisl purus in mollis nunc 
            sed id.</p></div>
            </div>
        </div>
    </div>
    <br>
</div>




<div class="container">
    <h1 class="header"> Who are we? </h1>
    <div class="info"><p> Hi we set up wireless waiter, get to know us</p></div>

    <div class="row">
        <div class="four columns">
            <img class="jenny" src="images/icon.png" alt="Jenny">
        </div>
        <div class="eight columns">
            <p class="bioText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
        et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. 
        Consectetur adipiscing elit duis tristique sollicitudin nibh sit. Sit amet nisl purus in mollis nunc 
        sed id.</p>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <img class="claire" src="images/ClaireProfile.jpg" alt="Claire">
        </div>
        <div class="eight columns">
            <p class="bioText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
        et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. 
        Consectetur adipiscing elit duis tristique sollicitudin nibh sit. Sit amet nisl purus in mollis nunc 
        sed id.</p>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <img class="tim" src="images/icon.png" alt="Tim">
        </div>
        <div class="eight columns">
            <p class="bioText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
        et dolore magna aliqua. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. 
        Consectetur adipiscing elit duis tristique sollicitudin nibh sit. Sit amet nisl purus in mollis nunc 
        sed id.</p>
        </div>
    </div>
        

    <br> 
    <br>
    <br>

    <hr>

    <br>
    <br>

    {{!-- <h3 class="formTitle">Register your interest here</h3> --}}
    <h3 class="formTitle">Get in contact at wirelesswaiter@gmail.com</h3>

    {{!-- <h2 class="text"> Register your interest here </h2> --}}

    <br> 
    <br>

    {{> form}}


</div>





